Импортируем необходимые модули и загружаем DataFrame

In [55]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df = pd.read_csv('data/TRAIN.csv');

Избавляемся от строк с пустыми значениями:

In [56]:
df = df.dropna()
df

,ID,Store_id,Store_Type,Location_Type,Region_Code,Date,Holiday,Discount,#Order,Sales
0,T1000001,1,S1,L3,R1,2018-01-01,1,Yes,9,7011.84
1,T1000002,253,S4,L2,R1,2018-01-01,1,Yes,60,51789.12
2,T1000003,252,S3,L2,R1,2018-01-01,1,Yes,42,36868.20
3,T1000004,251,S2,L3,R1,2018-01-01,1,Yes,23,19715.16
4,T1000005,250,S2,L3,R4,2018-01-01,1,Yes,62,45614.52
...,...,...,...,...,...,...,...,...,...,...
188335,T1188336,149,S2,L3,R2,2019-05-31,1,Yes,51,37272.00
188336,T1188337,153,S4,L2,R1,2019-05-31,1,No,90,54572.64
188337,T1188338,154,S1,L3,R2,2019-05-31,1,No,56,31624.56
188338,T1188339,155,S3,L1,R2,2019-05-31,1,Yes,70,49162.41
188339,T1188340,152,S2,L1,R1,2019-05-31,1,No,47,37977.00

Представляем значения признаков в виде чисел, заполняем массивы X и у:

In [57]:
x0 = df.ID
x1 = df.Store_id
x2 = df.Store_Type
x3 = df.Location_Type
x4 = df.Region_Code
x5 = df.Date
x6 = df['#Order']
sales = df.Sales

X = [[int(x0[i][1:]), x1[i], int(x2[i][1:]), int(x3[i][1:]), int(x4[i][1:]), 
      int(x5[i][:4]), int(x5[i][5:7]), int(x5[i][8:10]), x6[i]] for i in range(84731)]
y = [sales[i] for i in range(84731)]

Обучаем модель линейной регресси:

In [58]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

model = LinearRegression()
model.fit(X, y)

LinearRegression()

Получаем коэффициенты для всех признаков и сдвиг:

In [59]:
model.coef_, model.intercept_

(array([-4.84685797e-01, -8.05298832e-01, -8.71367888e+02, -6.21525319e+02,
         1.70392359e+03, -1.00044417e-11,  5.15670165e+03,  1.20451544e+02,
         5.97246737e+02]),
 483105.2254663501)

Считаем значения отклонений:

In [60]:
df = pd.DataFrame(X)
df['y'] = y
df['y_fit'] = model.predict(X)
df['residual'] = df['y_fit'] - df['y']
df

,0,1,2,3,4,5,6,7,8,y,y_fit,residual
0,1000001,1,1,3,1,2018,1,1,9,7011.84,8038.492030,1026.652030
1,1000002,253,4,2,1,2018,1,1,60,51789.12,36302.077301,-15487.042699
2,1000003,252,3,2,1,2018,1,1,42,36868.20,26423.324529,-10444.875471
3,1000004,251,2,3,1,2018,1,1,23,19715.16,15325.799700,-4389.360300
4,1000005,250,2,3,4,2018,1,1,62,45614.52,43730.513846,-1884.006154
...,...,...,...,...,...,...,...,...,...,...,...,...
84726,1084727,329,4,2,3,2018,8,21,84,53178.00,51423.581736,-1754.418264
84727,1084728,266,1,1,4,2018,8,21,70,45378.00,48051.929127,2673.929127
84728,1084729,354,4,2,1,2018,8,21,125,76518.00,72481.748943,-4036.251057
84729,1084730,108,1,1,4,2018,8,21,55,38205.00,39219.495910,1014.495910
84730,1084731,239,3,1,3,2018,8,21,69,41619.00,44028.312034,2409.312034

Находим MAE и MSE:

In [61]:
from sklearn.metrics import mean_absolute_error
y_pred = model.predict(X) # предсказанное значение
y_true = y # истинное значение

print("MAE = %s" % mean_absolute_error(y_pred, y_true))

MAE = 4147.194086076225

In [62]:
print("MSE : ")
np.mean(df['residual'] ** 2)

MSE :

30371059.83119637

Проверим MSE:

In [63]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_true, y_pred)
print('MSE = %s' % mse)

MSE = 30371059.83119637

Находим $R^2$ (коэффициент детерминации):

In [64]:
from sklearn.metrics import r2_score
print("r2_score = %s" % r2_score(y_true, y_pred))

r2_score = 0.9041535455687576